<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Contact Me</h1>
    </header>
    
    <section class="contact-section">
        <div class="contact-container">
            <div class="contact-info">
                <p><i class="fas fa-map-marker-alt"></i> Ayodhya Nagar, 462041, Bhopal, India</p>
                <p><i class="fas fa-envelope"></i> <a href="mailto:shivanipatel7019shivani@gmail.com">shivanipatel7019shivani@gmail.com</a></p>
                <p><i class="fab fa-github"></i> <a href="https://github.com/shivani-7019" target="_blank">GitHub</a></p>
                <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/patel-shivani-337035273" target="_blank">LinkedIn</a></p>
            </div>
        </div>
    </section>
</body>
</html>
