<%- include('partials/header') %>
  <section class="hero">
    <div class="container">
        <h1>Hi, I'm <span class="highlight">Shivani Patel</span> 👋</h1>
        <p class="subtext">Passionate About Crafting Scalable & Efficient Solutions with <span class="highlight">Java & Web Technologies</span></p>
        
        <p class="bio">
            I am an aspiring Software Engineer with expertise in Java, Data Structures & Algorithms, and Full Stack Development.  
            I love working on backend systems and have built projects like Wanderlust Travel Planar and an Amazon Clone.
        </p>

        <div class="social-icons">
            <a href="https://www.linkedin.com/in/patel-shivani-337035273" class="social-btn"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/shivani-7019" class="social-btn"><i class="fab fa-github"></i></a>
            <a href="mailto:shivanipatel7019shivani@gmail.com" class="social-btn"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
  </section>
  
  <%- include('partials/footer') %>